{# 
  shared/header
#}

{#{% extends "@STARTERPack/layout.html.twig" %}#}

{% block header %}
    <h2 class="headerShared">Shared Header Component</h2>
    <div class="container">
        <div class="col">Cols</div>
        <div class="col">Cols</div>
    </div>
{% endblock %}

{% include "./shared/header/navigation/index.html.twig" %}
{% include "./shared/header/search/index.html.twig" %}

{% block javascript %}
    {#<script src="/assets/scripts/head.js"></script>#}
{% endblock %}
