{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "impliedStrict": true,
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },

    "env": {
        "node": true
    },

    "extends": "standard",

    "globals": {
        "document": false,
        "navigator": false,
        "window": false
    }
}
