# You can config any options listed here : https://docs.npmjs.com/misc/config
# Comments are starting with ; or # https://docs.npmjs.com/files/npmrc#comments

# Set loglevel to silent
loglevel=warn

# Set default custom/private registry
# registry = http://localhost:8081/repository/npm-all/

# Set default custom/private registry for scoped package
# Corporate package have to be scoped. This allows you to seamlessly use a mix 
# of packages from the primary npm registry and one or more private registries, 
# such as npm Enterprise.
# <scope_name>:registry=<registry_url>
# 
# scope_have have to sctart with @ 
# 
# @myscope:registry=https://mycustomregistry.example.org
