{#
 # shared/article 
#}

{% block body %}
    Article
    <div class="className">.className</div>
    <div class="test">Class .teste</div>
    <button class="button_1">test button</button>
    <div class="testArticle">testArticle</div>
    <img src="./assets/images/background.jpg" alt="" />
{% endblock %}
