<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Auxane Thouary - Développeur front-end</title>
    {{#if envIsProduction}}
        <link type="text/css" href="/styles/main-eac24e5480003bab4d071f01fd7b566b.css" rel="stylesheet">
    {{/if}}
</head>
<body class="cyan-bg">
    {{>header/header}}
    {{>home/home}}
    {{>skills/skills}}
    {{>about/about}}
    {{>work/work}}
    {{>contact/contact}}
    {{>footer/footer}}
    {{#if envIsProduction}}
        <script type="application/javascript" src="/scripts/main-148e34170f91847c9a2f.js"></script>
    {{else}}
        <script type="application/javascript" src="assets/scripts/gets-in-viewport.js"></script>
    {{/if}}
</body>
</html>
