<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Auxane Thouary - Développeur front-end</title>
    {{#if envIsProduction}}
        <link type="text/css" href="/assets/styles/main-1c9df67bc7276107c7fb0e0b74d3effe.css" rel="stylesheet">
    {{/if}}
</head>
<body class="cyan-bg">
    {{>header/header}}
    {{>home/home}}
    {{>skills/skills}}
    {{>about/about}}
    {{>work/work}}
    {{>contact/contact}}
    {{>footer/footer}}
    {{#if envIsProduction}}
        <script type="application/javascript" src="/assets/scripts/main-374a4fcc3e73f683260f.js"></script>
    {{else}}
        <script type="application/javascript" src="assets/scripts/main.js"></script>
    {{/if}}
</body>
</html>
