<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Auxane Thouary - Développeur front-end</title>
    {{#if envIsProduction}}
        <link type="text/css" href="/styles/main-8caf951d24b88311722bc66ea07ce07e.css" rel="stylesheet">
    {{/if}}
</head>
<body class="cyan-bg">
    {{>header/header}}
    {{>home/home}}
    {{>skills/skills}}
    {{>about/about}}
    {{>work/work}}
    {{>contact/contact}}
    {{>footer/footer}}
    {{#if envIsProduction}}
        <script type="application/javascript" src="/scripts/main-aa0e29015231222ddae0.js"></script>
    {{else}}
        <script type="application/javascript" src="assets/scripts/main.js"></script>
    {{/if}}
</body>
</html>
