<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Auxane Thouary - Développeur front-end</title>
    {{#if envIsProduction}}
        <link type="text/css" href="/assets/styles/main-8caf9ddbc2b05c0caa0b7857cbac9ae0.css" rel="stylesheet">
    {{/if}}
</head>
<body class="cyan-bg">
    {{>header/header}}
    {{>home/home}}
    {{>skills/skills}}
    {{>about/about}}
    {{>work/work}}
    {{>contact/contact}}
    {{>footer/footer}}
    {{#if envIsProduction}}
        <script type="application/javascript" src="/assets/scripts/main-d2e112170894e29b11b2.js"></script>
    {{else}}
        <script type="application/javascript" src="assets/scripts/main.js"></script>
    {{/if}}
</body>
</html>
