<section class="about" data-page="about">
  <article class="about-article">
    <h2 class="title about-title">{{about.title}}</h2>
    <p class="about-text">{{about.text}}</p>
  </article>
  <img class="about-image" src="{{about.image.url}}" alt="{{about.image.title}}">
</section>
