<section class="about" data-page="about">
    <article class="about-article">
        <h2 class="title about-title">{{about.title}}</h2>
        <p class="about-text">{{{about.text}}}</p>
    </article>
    <div class="about-image"></div>
</section>
