<section>
  <article>
    <h2 class="about-title">{{about.title}}</h2>
    <p class="about-text">{{about.text}}</p>
  </article>
  <img src="{{about.image.url}}" alt="{{about.image.title}}">
</section>
