/*  Initialization
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import "reset";
@import "vars";

/*  Common
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import "tools";
@import "fonts";

body,
html {
    overflow-x: hidden;
}

body {
    font-family: "Source Serif Pro", serif;
    background-color: var(--grey-2);
}
