/*  Initialization
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import "reset";
@import "vars";

/*  Common
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import "tools";
@import "fonts";

body {
    padding-left: var(--menu-width);
    font-family: "Cambria";
    background-color: var(--grey-2);
}
