/**
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    contenteditable attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that are clearfixed.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix::before,
.clearfix::after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix::after {
    clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.clearfix {
    *zoom: 1;
}

/**
* Shared components
*/
.title {
    text-transform: uppercase;
    font-family: "HelveticaCd";
    font-weight: bold;
}

.heading {
    text-align: center;
    font-size: var(--fs-5);
    padding-top: 50px;
}

.button {
    transition: background .3s ease;
    padding: 11px 17px 8px;
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    font-family: "HelveticaCd";
    font-weight: bold;

    &:hover {
        background-color: var(--purple);
    }
}

.action {
    position: absolute;
    bottom: 0;

    &::after {
        content: " ";
        display: block;
        height: 50px;
        position: relative;
        left: 50%;
        border-left: solid 2px var(--white);
        transition: height .6s ease;
    }
}

.action-button {
    font-family: "HelveticaCd";
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px 8px;
    border: solid 2px var(--white);
    display: block;
    color: var(--white);
    font-size: var(--fs-5);
    position: relative;
}

.action:hover {
    &::after {
        height: 40px;
    }
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 5px;
    fill: var(--purple);
}

.input-message-icon {
    top: 7px;
}

.input {
    width: 100%;
    padding: 8px 8px 8px 35px;
    font-family: "HelveticaCd";
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    font-size: var(--fs-2);

    &::placeholder {
        color: var(--grey-2);
        font-size: var(--fs-2);
    }
}
