/* custom properties */

:root {
    /* DIMENSIONS */
    --desktop-min-height: 550px;

    /* COLORS */
    --white: #fff;
    --white-60: rgba(255, 255, 255, .6);
    --black: #000;
    --black-60: rgba(0, 0, 0, .6);
    --grey-1: #333;
    --grey-2: #c7c7c7;
    --grey-3: #f1f1f1;
    --purple: #500024;
    --purple-60: rgba(80, 0, 36, .6);

    /* FONTS */
    --fs-1: 10px;
    --fs-2: 12px;
    --fs-3: 14px;
    --fs-4: 16px;
    --fs-5: 18px;
    --fs-6: 24px;
    --fs-7: 30px;
    --fs-8: 36px;
    --fs-9: 42px;
    --fs-10: 56px;
}

/*  Custom media queries
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Usage name for your styles : @media (--viewport-large) {} */
@custom-media --viewport-large (width <= 1024px);
@custom-media --viewport-medium (width <= 768px);
@custom-media --viewport-small (width <= 620px);
@custom-media --viewport-extraSmall (width <= 480px);
@custom-media --viewport-vertical-small (height <= 550px);
