@import "vars";

.works {
    background-color: var(--grey-3);
}

.works-item {
    padding: 70px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.works-slider,
.works-window {
    overflow: hidden;
}

.works-picture {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works-image {
    flex-shrink: 0;
    display: block;
    height: 375px;
    background-color: var(--highlightColor);
}

.works-action {
    z-index: 1;
}

.works-shadow {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), var(--black));
}

.works-column {
    position: relative;
    left: -20px;
    top: 20px;
}

.works-project {
    color: var(--white);
    padding: 30px 25px 80px;
    background-color: var(--purple);
    width: 400px;
    position: relative;
}

.works-project-title {
    font-size: var(--fs-6);
    padding-bottom: 20px;
}

.works-project-skills {
    position: absolute;
    bottom: 25px;
    right: 30px;
}

.works-project-skill {
    font-family: "HelveticaCd";
    font-size: var(--fs-2);
    display: inline-block;
    border: 1px solid var(--white);
    border-radius: 12px;
    padding: 2px 8px;
}

.works-controls {
    display: flex;
    position: relative;
    top: 30px;
    left: 50px;
}

.works-arrow {
    display: inline-block;
    color: var(--white);
    background-color: var(--black);
    width: 45px;
    height: 45px;
    font-size: var(--fs-5);
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    transition: background-color .3s ease;
    box-shadow: 0 0 12px 0 var(--black-60);

    /* &::after {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        transform: rotate(30deg);
        opacity: 1;
        background: linear-gradient(
                to right,
                rgba(255, 255, 255, .13) 0%,
                rgba(255, 255, 255, .13) 77%,
                rgba(255, 255, 255, .5) 92%,
                rgba(255, 255, 255, 0) 100%
        );
    }

    &:first-child::after {
        animation-name: blackPulse;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    &:last-child::after {
        animation-name: blackPulse;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay: .45s;
    } */
}

/* @-webkit-keyframes blackPulse {
    from {
        top: -110%;
        left: -210%;
    }

    50% {

        top: -110%;
        left: -210%;
    }

    to {
        top: -30%;
        left: -30%;
    }
} */

@media (--viewport-large) {
    .works-item {
        flex-direction: column;
        align-items: center;
        padding: 0;
        overflow: auto;
    }

    .works-shadow {
        display: none;
    }

    .works-picture {
        padding-top: 35px;
        width: 100%;
    }

    .works-image {
        width: 100%;
        max-width: 510px;
        height: auto;
    }

    .works-action {
        display: none;
    }

    .works-column {
        position: relative;
        left: auto;
        top: auto;
        margin-top: -90px;
        width: 100%;
        max-width: 510px;
        padding: 0 55px 20px;
    }

    .works-project {
        max-width: 400px;
        width: 100%;
    }

    .works-controls {
        position: absolute;
        top: 110px;
        left: 0;
        width: 100%;
        justify-content: space-between;
        padding: 0 10px;
    }

    .works-arrow {
        width: 35px;
        height: 35px;
        margin: 0;
    }
}

@media (--viewport-large) {
    .works-project {
        padding-bottom: 60px;
    }

    .works-project-title {
        font-size: var(--fs-5);
        padding-bottom: 20px;
    }

    .works-project-skills {
        position: absolute;
        bottom: 25px;
        right: 30px;
    }

    .works-project-text {
        font-size: var(--fs-3);
    }

    .works-project-skill {
        font-size: var(--fs-1);
    }
}

@media (--viewport-extraSmall) {
    .works-shadow {
        display: block;
    }
}
