@import 'vars';

:root {
    --menu-width: 190px;
    --menu-height-md: 70px;
}

body {
    padding-left: var(--menu-width);
}

.menu {
    width: var(--menu-width);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    padding: 170px 0 65px;
    box-shadow: -3px 0 12px 0 var(--black-60);
    z-index: 1;

    & nav {
        height: 100%;
    }
}

.menu-logo {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;

    &.isSelected {
        & .menu-logo-icon {
            height: 120px;
            width: 120px;
        }
    }
}

.menu-logo-icon {
    fill: var(--black);
    transition: height ease-out .6s, width ease-out .6s;
    height: 95px;
    width: 95px;
}

.menu-bar {
    position: absolute;
    left: 0;
    top: 170px;
    bottom: 65px;
    width: 10px;
    border-left: 1px solid var(--white);
    overflow: hidden;
}

.menu-marker {
    position: absolute;
    left: 0;
    top: -100px;
    content: " ";
    display: inline;
    width: 9px;
    height: 75px;
    transition: top ease-out .3s;
    background-color: var(--purple);
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    height: 100%;
    position: relative;
}

.menu-item {
    font-family: "Cambria";
    margin-left: 1px;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: font-size ease-out .3s, color ease-out .3s;

    & > * {
        display: block;
    }
}

.menu-title {
    font-family: "HelveticaCd";
    font-weight: bold;
    text-transform: uppercase;
}

.menu-subtitle {
    font-family: "Cambria";
    text-transform: uppercase;
    font-size: var(--fs-2);
}

.menu-icon-line {
    display: flex;
    justify-content: center;
    margin: 5px 0;

    &::before,
    &::after {
        position: relative;
        transition: top ease-out .3s;
        top: -12.5px;
        content: " ";
        display: inline-block;
        border-bottom: 1px solid var(--black);
        width: 30px;
    }
}

.menu-icon {
    transition: width ease-out .3s, height ease-out .3s, fill ease-out .3s, border ease-out .3s;
    width: 25px;
    height: 25px;
    fill: var(--black);
    margin: 0 7px;
}

.menu-item:hover {
    color: var(--purple);

    & .menu-icon {
        fill: var(--purple);
    }
}

.menu-item.isSelected {
    color: var(--purple);
    font-size: var(--fs-5);

    & .menu-subtitle {
        font-size: var(--fs-3);
    }

    & .menu-icon {
        width: 30px;
        height: 30px;
        fill: var(--purple);
    }

    & .menu-icon-line {
        &::before,
        &::after {
            border-bottom: 1px solid var(--purple);
            top: -15px;
        }
    }
}

.menu-links {
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 15px;
    width: var(--menu-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.menu-externals {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 20px;
}

.menu-external-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    fill: var(--black);
    transition: fill .3s ease;
    display: block;

    &:hover {
        fill: var(--purple);
    }
}


@media (--viewport-medium) {
    body {
        padding: 0;
    }

    .menu {
        width: 100%;
        top: auto;
        bottom: 0;
        left: 0;
        padding: 0;
        background-color: transparent;
        box-shadow: none;

        & nav {
            width: 100%;
        }
    }

    .menu-logo,
    .menu-bar {
        display: none;
    }

    .menu-list {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        background-color: transparent;
    }

    .menu-item {
        height: var(--menu-height-md);
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: var(--fs-3);
        background-color: var(--white);

        &::before {
            z-index: -1;
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            box-shadow: 0 0 12px 0 var(--black-60);
        }
    }

    .menu-title {
        margin-bottom: 2px;
    }

    .menu-subtitle {
        display: none;
    }

    .menu-icon-line {
        margin: 0;

        &::before,
        &::after {
            display: none;
        }
    }

    .menu-links {
        position: absolute;
        top: 15px;
        left: 0;
        bottom: auto;
        width: 100%;
        display: block;
    }

    .menu-externals {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 20px;
    }

    .menu-external {
        display: inline-block;
    }

    .menu-external-icon {
        width: 20px;
        height: 20px;
        fill: var(--white);
    }

    .menu-button {
        background-color: var(--white);
        color: var(--black);
    }

    .menu-item.isSelected {
        font-size: var(--fs-3);
        border-top: 9px solid var(--purple);

        & .menu-icon {
            width: 25px;
            height: 25px;
            fill: var(--purple);
        }
    }

    .menu-item.isNotSelected {
        height: calc(var(--menu-height-md) - 10px);
    }
}