{##
 # /views/layout.html.twig
 #}
<!DOCTYPE html>
<html>
    <head>
    {% block head %}

        <title>{% block title %}PMD Static{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/4.1.0/sanitize.min.css">

        {# {% if env_serv is defined and env_serv == 'production' %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="/assets/styles/common.css">
            <link rel="stylesheet" href="/assets/styles/main.css">
         {% endif %} #}
    {% endblock %}
    </head>
    <body class="body">
        <h1>Layout</h1>
        {% block header %}
            Layout Header
        {% endblock %}

        {% block body %}
            In Layout Body
        {% endblock %}

        {% block footer %}
            <div id="footer">
              In Layout Footer
            </div>
        {% endblock %}

        <script src="/assets/scripts/main.js"></script>

        {% block javascript %}
        {% endblock %}

    </body>
</html>
