{##
 # /views/layout.html.twig
 #}
<!DOCTYPE html>
<html>
    <head>
    {% block head %}

        <title>{% block title %}PMD Static{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/4.1.0/sanitize.min.css">

        {% if env_serv is defined and env_serv == 'production' %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="/assets/styles/common.css?3876101afae4ce64019d84b281325a3f&732c19459f4a46fa267e">
            <link rel="stylesheet" href="/assets/styles/main.css?258e0c6c16bff8d136e16d680184b3f2&732c19459f4a46fa267e">
         {% endif %}
    {% endblock %}
    </head>
    <body class="body">
        <h1>Layout</h1>
        {% block header %}
            Layout Header
        {% endblock %}

        {% block body %}
            In Layout Body
        {% endblock %}

        <script src="/assets/scripts/common.js?07d18a2cdfe661ca91e0&732c19459f4a46fa267e"></script>
        <script src="/assets/scripts/main.js?f2f3041637293b10048c&732c19459f4a46fa267e"></script>

        {% block javascript %}
        {% endblock %}

    </body>
</html>
