{##
 # /views/layout.html.twig
 #}
<!DOCTYPE html>
<html>
    <head>
    {% block head %}

        <title>{% block title %}PMD Static{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/4.1.0/sanitize.min.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/assets/styles/common.css?728ad5f8d0afed5f62e0">

        <link rel="stylesheet" href="/assets/styles/main.css?728ad5f8d0afed5f62e0">

    {% endblock %}
    </head>
    <body class="body">
        <h1>Layout</h1>
        {% block header %}
            Layout Header
        {% endblock %}

        {% block body %}
            In Layout Body
        {% endblock %}

        <script src="/assets/scripts/common.js?728ad5f8d0afed5f62e0"></script>
        <script src="/assets/scripts/main.js?728ad5f8d0afed5f62e0"></script>

        {% block javascript %}
        {% endblock %}

    </body>
</html>
