{##
 # /views/layout.html.twig
 #}
<!DOCTYPE html>
<html>
    <head>
    {% block head %}

        <title>{% block title %}PMD Static{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/4.1.0/sanitize.min.css">

        {% if env_serv == 'production' %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.common.css %>">
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
         {% endif %}
    {% endblock %}
    </head>
    <body class="body">
        <h1>Layout</h1>
        {% block header %}
            Layout Header
        {% endblock %}

        {% block body %}
            In Layout Body
        {% endblock %}

        <script src="<%= htmlWebpackPlugin.files.chunks.common.entry %>"></script>
        <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>

        {% block javascript %}
        {% endblock %}

    </body>
</html>
