{##
 # /views/layout.html.twig
 #}
<!DOCTYPE html>
<html>
    <head>
    {% block head %}

        <title>{% block title %}PMD Static{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/4.1.0/sanitize.min.css">

        {% if env_serv is defined and env_serv == 'production' %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="/assets/styles/common.css?1b7ae67ca772129266b00bb9b291d7dd&603789cdb5728ac780d1">
            <link rel="stylesheet" href="/assets/styles/main.css?da5c104323f819529f72e913020d92ba&603789cdb5728ac780d1">
         {% endif %}
    {% endblock %}
    </head>
    <body class="body">
        <h1>Layout</h1>
        {% block header %}
            Layout Header
        {% endblock %}

        {% block body %}
            In Layout Body
        {% endblock %}

        <script src="/assets/scripts/common.js?af331c3b3037a46228e8&603789cdb5728ac780d1"></script>
        <script src="/assets/scripts/main.js?279136ee2bdf568bfc34&603789cdb5728ac780d1"></script>

        {% block javascript %}
        {% endblock %}

    </body>
</html>
