{##
 # /views/layout.html.twig
 #}
<!DOCTYPE html>
<html>
    <head>
    {% block head %}

        <title>{% block title %}PMD Static{% endblock %}</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/4.1.0/sanitize.min.css">

        <link rel="stylesheet" href="/assets/styles/main.css?161202563d9bcbf94a87">

        <script src="/assets/scripts/scriptjs.js?161202563d9bcbf94a87"></script>

    {% endblock %}
    </head>
    <body class="body">
        <h1>Layout</h1>
        {% block header %}
            Layout Header
            {% include "./shared/header/index.html.twig" %}
        {% endblock %}

        {% block body %}
            In Layout Block test
        {% endblock %}

        <script src="/assets/scripts/main.js?161202563d9bcbf94a87"></script>

    </body>
</html>
