/*
 * components/home/assets
 */

@import "vars.css";

.testHome {
    font-size: 80px;
    font-weight: bold;
    background: url('../images/background.jpg');

    @media (--viewport-medium) {
        font-size: calc(var(--fs-3) * 1.2);
    }

}

.testHomeHome {
    font-size: calc(var(--fs-8) * 1.2);
    
    @media screen and (min-width: 320px) {
        color: red;
    }
}
