@import "vars";

.contact {
    background-color: var(--grey-2);
}

.contact-form {
    text-align: center;
    margin: 0 auto;
    min-width: 400px;
    width: 40%;
    padding-top: 35px;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.contact-name,
.contact-object {
    width: calc(50% - 7px);
}

.contact-button {
    margin: 30px 0 40px;
}

@media (--viewport-extraSmall) {
    .contact-form {
        min-width: 0;
        width: 100%;
        padding: 30px;
    }

    .contact-row {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .contact-name,
    .contact-object {
        width: 100%;
        margin-bottom: 15px;
    }

    .contact-button {
        margin: 25px 0 10px;
    }
}
