@import "vars";

:root {
    --skills-hard-item-height: 53px;
    --skills-hard-number: 5;
}

.skills {
    background-color: var(--grey-3);
    padding: 0 20px 60px;
    text-align: center;
}

.skills-soft {
    padding: 60px 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skills-soft-item {
    text-align: center;
    padding: 30px 0;
    min-width: 195px;
}

.skills-soft-image {
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
    fill: var(--purple);
}

.skills-soft-title {
    margin-bottom: 5px;
}

.skills-soft-subtitle {
    padding: 0 15px;
}

.skills-soft-vert {
    height: 50px;
    border-left: solid 1px var(--black);
}

.skills-hard {
    height: calc(var(--skills-hard-item-height) * var(--skills-hard-number));
    width: 100%;
    padding: 0 50px;
    margin-top: 70px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.skills-hard-item {
    width: 26%;
}

.skills-hard-title {
    text-align: left;
    text-transform: none;
}

.skills-hard-total {
    width: 100%;
    height: 8px;
    background-color: var(--grey-2);
    border-radius: 4px;
    margin: 10px 0 20px;
    position: relative;
    overflow: hidden;
}

.skills-hard-level {
    transition: width 1.5s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 8px;
    background-color: var(--purple);
    border-radius: 4px 0 0 4px;
}

.skills-button {
    display: inline-block;
    margin: 50px auto 0;
}

@media (--viewport-large) {
    .skills-soft {
        flex-wrap: wrap;
    }

    .skills-soft-item {
        width: 45%;
    }

    .skills-soft-vert:nth-of-type(2n) {
        display: none;
    }

    .skills-hard {
        padding: 0;
        height: auto;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .skills-hard-item {
        width: 40%;
    }
}

@media (--viewport-extraSmall) {
    .skills {
        padding: 0 0 50px;
    }

    .skills-soft {
        padding: 30px 0;
    }

    .skills-soft-item {
        min-width: 100px;
        padding: 15px 0;
    }

    .skills-soft-image {
        width: 30px;
        height: 30px;
    }

    .skills-soft-subtitle {
        padding: 0 15px;
        font-size: var(--fs-2);
    }

    .skills-hard {
        margin-top: 10px;
        justify-content: space-evenly;
    }

    .skills-button {
        margin-top: 30px;
    }
}
