/*
 * Shared/article/assets
 */

@import "vars.css";

/*.body {
    background: pink;
}*/

:fullscreen a {
    display: flex;
}

.test {
    font-weight: bold;
    background: url('/img/background.jpg');

    @media (--viewport-medium) {
        font-size: calc(var(--fs-3) * 1.2);
    }

}

.testArticle {
    background: red;
}

/*.container {
    @neat-span-columns 4;

    @media (width >= 768px) {
        @neat-span-columns 2;
    }
}*/
